*{
    margin: 0%;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 15px;    
}
h1,li,ul{
    display: inline;
}
ul{
    margin-left: 60%;
}
li{
    color: gray; 
    cursor: pointer;
}
li:hover{
    color: white;
    
}
.search{
    width: 60%;
    padding: 10px;
    margin-top: 20px;
}
.searchbox{
    text-align: center;
}
.box{
    width: 250px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: inline-block;
    margin-top:5px;
}
.Product{
    text-align: center;
    margin-top: 25px;
}
.none{
    text-align: center;
    margin-top: 5px;
}